{% load static %}

<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'BitcoinAnalytics/CSS/shared.css' %}">
        <link rel="stylesheet" href="{% static 'BitcoinAnalytics/CSS/animations.css' %}">
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body id="body">
        <!-- NAV -->
        <div class="Wrap">
          <div class="MenuContainer">
            <ul class="Menu">
              <a href="{% url 'bitcoin_analytics_home' %}"><li>HOME</li></a>
              <a href="{% url 'bitcoin_analytics_home' %}"><li>STATS</li></a>
              <a href="{% url 'bitcoin_analytics_home' %}"><li>VISUAL</li></a>
              <a href="{% url 'create' %}"><li>JOIN COMPETITION</li></a>
              <a href="{% url 'board' %}"><li>COMPETITION BOARD</li></a>
            </ul>
          </div>
        </div>
        <!-- END NAV -->

        <div class="intro-container">
            {% block content %}{% endblock %}
        </div>
        <section id="block-footer">
            <p id="footer-right"><a href="#">Contact Us</a>|<a href="#">Intellectual Property</a></p>
			<p id="footer-left">A Live Project by Kyle Crews of The Tech Academy</p>
        </section>
    </body>
</html>